/bin/
.DS_Store
.classpath
data/pagerank/*.graph
data/pagerank/*.scalar
data/pagerank/*.png
.idea
flask/__pycache__
flask/mog/__pycache__
flask/venv
venv
__pycache__
mog/__pycache__
data/very_large/com-youtube.ungraph.json
